# **Uso o SQLITEONLINE!**

# **1**

In [ ]:
CREATE TABLE clientes (
  id INTEGER PRIMARY KEY,
  idade INTEGER,
  sexo TEXT,
  dependentes INTEGER,
  escolaridade TEXT,
  tipo_cartao TEXT,
  limite_credito REAL,
  valor_transacoes_12m REAL,
  qtd_transacoes_12m INTEGER
);

# **2.1**

In [ ]:
SELECT * FROM clientes

# **2.2**

In [ ]:
SELECT * FROM clientes LIMIT 10

# **2.3**

In [ ]:
SELECT sexo, AVG(idade) AS "media_idade_por_sexo"
FROM clientes
GROUP BY sexo;