# **Uso o SQLITEONLINE!**

# **1.1**

In [ ]:
SELECT id, idade, sexo, dependentes FROM clientes;

# **1.2**

In [ ]:
SELECT id, valor_transacoes_12m
FROM clientes
WHERE escolaridade = 'mestrado' and sexo = 'F';

# **1.3**

In [ ]:
SELECT sexo, AVG(idade) AS "media_idade_por_sexo"
FROM clientes
GROUP BY sexo;

# **2.1**

In [ ]:
SELECT * FROM clientes;

# **3.1**

In [ ]:
CREATE TABLE clientes_part (
  id INTEGER PRIMARY KEY,
  idade INTEGER,
  dependentes INTEGER,
  escolaridade TEXT,
  tipo_cartao TEXT,
  limite_credito REAL,
  valor_transacoes_12m REAL,
  qtd_transacoes_12m INTEGER,
  sexo TEXT
);

In [ ]:
PRAGMA integrity_check;

PRAGMA integrity_check(clientes_part);

VACUUM;

In [ ]:
SELECT * FROM clientes_part WHERE sexo = 'F';

# **3.2**

In [ ]:
SELECT id, idade, limite_credito
FROM clientes_part
WHERE sexo = 'M'
ORDER BY limite_credito DESC;

# **4.1**

In [ ]:
ALTER TABLE clientes ADD COLUMN estado TEXT;

In [ ]:
SELECT * FROM clientes;

# **5**

In [ ]:
DROP TABLE clientes;